.listing {
  background: var(--accent-color);
  border-radius: 30px;
  padding-bottom: 30px;
}
.listing-heading {
  color: var(--primary-color);
  padding: 10px 20px 0 20px;
}

.container-photo {
  position: relative;
}

.listing-photo {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}

.arrow-left {
  background-color: var(--shadow-color);
  border-radius: 50%;
  padding: 0.7rem;
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10%;
  left: 8%;
  font-size: 1.7rem;
}

.arrow-right {
  background-color: var(--shadow-color);
  border-radius: 50%;
  padding: 0.7rem;
  position: absolute;
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10%;
  right: 8%;
  font-size: 1.7rem;
}
.listing-location {
  padding: 10px 20px 20px 20px;
}
.listing-location::before {
  content: url("/assets/location-pin.svg") / "";
}

section.listing a {
  padding-left: 20px;
  text-decoration: none;
  color: var(--primary-color);
}
section.listing a::after {
  content: "\203A";
  margin-left: 5px;
}
