article {
  margin: 1rem;
}

.container-photo {
  float: right;
  width: 50%;
  position: relative;
}

.listing-photo {
  height: 600px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.arrow-left {
  background-color: var(--accent-color);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 15%;
  left: 10%;
  font-size: 1.7rem;
}

.arrow-right {
  background-color: var(--accent-color);
  border-radius: 50%;
  padding: 1rem;
  position: absolute;
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 15%;
  right: 10%;
  font-size: 1.7rem;
}

.listing-heading {
  font-size: 48pt;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--black-color);
}

.listing-location::before {
  content: url("/assets/location-pin.svg") / "";
}

.listing-location {
  font-size: 24pt;
  margin-bottom: 15px;
}

.listing-features > .section-heading {
  color: var(--secondary-color);
  font-size: 24pt;
  margin-bottom: 15px;
}

.listing-features {
  margin-bottom: 20px;
}

.listing-features ul {
  margin-left: 1rem;
}
.listing-features li {
  font-size: 14pt;
}

li {
  list-style-type: none;
  display: inline-block;
  margin-right: 2rem;
  color: var(--black-light-color);
}

/* .listing-apply .section-heading {
  font-size: 18pt;
  margin-bottom: 15px;
  color: var(--black-light-color);
} */

.listing-apply {
  margin-top: 2rem;
}

.listing-apply h2 {
  font-size: 24pt;
  margin-bottom: 1.5rem;
  color: var(--black-color);
}

form {
  margin-left: 1rem;
}

label,
input {
  display: block;
}
label {
  color: var(--secondary-color);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12pt;
}
input {
  font-size: 16pt;
  margin-bottom: 15px;
  padding: 10px;
  width: 400px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 0.3px;
}

.one {
  color: var(--secondary-color);
  font-size: 18pt;
  margin-right: 2rem;
  margin-top: 4rem;
  width: 40%;
}

.applyAlert {
  width: 400px;
  margin-top: 0.5rem;
  padding: 0.4rem 0.3rem;
  color: rgb(188, 85, 85);
}

@media (max-width: 1024px) {
  .listing-photo {
    width: 100%;
    height: 400px;
  }
  .container-photo {
    float: right;
    width: 100%;
    position: relative;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .one {
    width: 90%;
  }
}

@media (max-width: 499px) {
  .one {
    width: 90%;
  }
}
